.conversationcontainer {
  padding-top: 20px;
}

.subconversationcontainer {
  border: 1px solid rgb(148, 148, 148);
  border-radius: 12px;
  margin: 20px 20px;
  padding: 10px 10px;
  display: flex;
  cursor: pointer !important;
  align-items: center;
  justify-content: flex-start;
  z-index: 1 !important;
}

.textcontainer h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -5px;
  text-transform: capitalize;
}

.messagetext {
  max-width: 300px;
  padding-top: 5px;
}

.imagecontainer {
  margin-right: 20px;
}

.imagecontainer img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.message_main {
  width: 100%;
  position: relative;
}
.message_head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(40, 113, 202);
}
.messaeg_name {
  font-size: 30px;
  line-height: 42px;
  margin-top: 8px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}
.profile_icon {
  position: absolute;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 120px;
  text-align: center;
  cursor: pointer;
}
.icon {
  fill: black;
  font-size: 30px;
  margin-top: -8px;
  margin-left: -8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.mesage_person {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.main_mesagediv {
  position: relative;
}
.notice_mesage {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.plus_icon {
  font-size: 30px;
  color: rgb(40, 113, 202);
  margin-top: 14px;
  cursor: pointer;
}
.sms_icon {
  font-size: 30px;
  fill: black !important;
}
.notice_mesage p {
  font-size: 20px;
  margin: 10px;
  text-transform: capitalize;
  text-align: center;
}
.notice_mesage h5 {
  font-size: 20px;
  margin: 10px;
}
.plus_div {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  background-color: paleturquoise;
  text-align: center;
  position: absolute;
  right: 40px;
  top: 400px;
}

@media only screen and (max-width: 600px) {
  .messaeg_name {
    font-size: 22px;
  }
  .profile_icon {
    width: 30px;
    height: 30px;
  }
  .icon {
    fill: black;
    font-size: 20px;
  }
}

@media screen and (max-width: 448px) {
  .messagetext {
    max-width: 240px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 382px) {
  .messagetext {
    max-width: 200px;
    padding-top: 5px;
  }
}
