.message_main{
    width: 100%;
position: relative;

}
.message_head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:rgb(40, 113, 202);
}
.messaeg_name{
font-size: 30px;
line-height: 42px;
font-weight: bold;
text-transform: capitalize;
color: white;

}
.profile_icon{
position: absolute;
right: 20px;
width: 40px;
height: 40px;
background-color: white;border-radius: 120px;
text-align: center;


}
.icon{
    fill: black;
    font-size: 30px;
 margin-top: 5px;
}
.mesage_person{
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 height:auto ;

}
.add_person{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80vh;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 40px;
    right: 30px;

}
.main_mesagediv{
    position: relative;
}
.notice_mesage{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.plus_icon{
    font-size: 30px;
    color: rgb(40, 113, 202);
}
.sms_icon{
    font-size: 30px;
    fill: black !important;
 
    
}
.notice_mesage p{
    font-size: 20px
    ;
    margin: 10px;
    text-transform: capitalize;
    text-align: center;
}
.notice_mesage h5{
    font-size: 20px
    ;
    margin: 10px;
}
.plus_div{
    width: 60px;
    height: 60px;
    border-radius: 1000px;
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .add_person{
      
        height: 68vh;

    }
    .messaeg_name{
font-size: 22px;
    } 
    .profile_icon {
    
        width: 30px;
        height: 30px;
       
    }
    .icon {
    fill: black;
    font-size: 20px;
}
}