/* .chatapp_main {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chatapp_heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatapp_heading p {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  text-transform: capitalize;
  color: rgb(40, 113, 202);
  margin-bottom: 0px;
}
.chatapp_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_signup {
  object-fit: contain;
  max-width: 800px;
  width: 100%;
  height: 300px;
  margin: 10px auto;
}
.chatapp_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_home {
  max-width: 300px;
  width: 100%;
  height: 45px;
  margin: 10px 10px;
  background-color: rgb(40, 113, 202);
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
}
.chatapp_alrready {
  color: rgb(40, 113, 202);
  font-size: 20px;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .chatapp_main {
    justify-content: flex-start;
    align-items: center;
  }
} */

.main_home_wrapper {
  padding: 13px 32px 30px 32px;
}

.target {
  color: lavender;
  font-family: monospace;
  font-size: 3rem;
}

img {
  width: 98%;
  height: 15rem;
  margin-bottom: 2rem;
  background-color: white;
}

#sign-2 {
  width: 12rem;
  margin-bottom: 2rem;
  margin-right: 15rem;
}

.pdf-section {
  background-color: lavender;
  margin-bottom: 3rem;
}

.pdf-head {
  color: orangered;
}

.btn-Nav {
  margin-right: 59rem;
  margin-bottom: 4rem;
  width: 10rem;
}

.btn-sign {
  width: 12rem;
}

.header {
  margin-bottom: 2rem;
  color: blueviolet;
}

.stakes h3 {
  font-size: 3rem;
  font-family: sans-serif;
}
.stakes {
  font-family: serif;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.bright h3 {
  color: limegreen;
}

.bright {
  background-color: dimgray;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.care {
  margin-bottom: 2rem;
}

.get-Set h3 {
  font-size: 2rem;
}

.get-Set {
  margin-bottom: 2.5rem;
}

.service-exp {
  background-color: lavender;
  padding: 0.5rem;
  margin-bottom: 2.6rem;
}
.service-exp-par {
  font-size: 1.7rem;
  font-family: sans-serif;
}

#actNow {
  color: yellowgreen;
  font-size: 3rem;
  font-style: important;
}

#benefits {
  margin-top: 2rem;
  background-color: dimgray;
  color: limegreen;
  margin-bottom: 3rem;
  padding: 3rem;
}

.pricing h3 {
  color: black;
  font-size: 3rem;
  margin-bottom: 1.4rem;
}

.pricing {
  background-color: khaki;
  color: dimgray;
  font-size: 1.8rem;
  padding: 4rem;
  margin-bottom: 3rem;
}

.junk-drawer {
  font-family: serif;
  background-color: dimgray;
  color: ghostwhite;
  padding: 2rem 3rem 2rem 3rem;
}

.mobile_navbar{
	display: none;
}
.desktop_nav{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .table_wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 575px) {
	.mobile_navbar{
	display: flex;
	margin-top: -20px;
	justify-content: space-between;
	}
  }
  